<footer>
    <div class="footer-content">
        <h3 class="color-white">The Gaming Machine 2021</h3>
        <p class="color-white">El mejor para jugadores de toda la Argentina!</p>
        <ul class="socials">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
</footer>